{{ ansible_managed | comment }}

format = """\
	$username\
	$directory\
	$git_branch\
	$git_status\
	$line_break\
	$character\
"""

right_format = """\
	$kubernetes\
	$aws\
"""

[line_break]
disabled = false

[directory]
read_only = " "
truncation_length = 4
truncate_to_repo = true
format = "[$path]($style)[$read_only]($read_only_style) "
style = "bold cyan"
read_only_style = "red"
truncation_symbol = ""

[directory.substitutions]
"~/Desktop" = " "
"~/Documents" = "󱔗 "
"~/Music" = " "
"~/Videos" = " "
"~/Pictures" = " "
"~/Downloads" = " "
"~/Projects" = " "
"~" = " "

[git_branch]
symbol = " "
style = "#6da3ff"

[git_status]
conflicted = "  ${count} "
ahead = " ${count} "
behind = " ${count} "
diverged = "󰹹 ${ahead_count} ${behind_count} "
#up_to_date = "✓ "
untracked = " ${count} "
stashed = " ${count} "
modified = " ${count} "
staged = " ${count} "
renamed = "󰑕 ${count} "
deleted = " ${count} "
style = "#929c9f"

[kubernetes]
symbol = "󱃾"
style = "#6da3ff"
format = "[$symbol $namespace:$context]($style)"
disabled = false
[kubernetes.context_aliases]
".*sandbox01.*" = "sandbox01"
".*non-prod01.*" = "non-prod01"

[username]
style_user = "white bold"
style_root = "red bold"
format = "[$user]($style) "
disabled = false
show_always = false

[aws]
format = '[$symbol($profile )(\($region\) )]($style)'
style = "#6da3ff"
symbol = "  "
