{{ ansible_managed | comment }}

LANGUAGE="en_US:en"
LANG="en_US.UTF-8"

RHEL_USERNAME="{{ rhel_user }}"
RHEL_PASSWORD="{{ rhel_password }}"

EDITOR=nvim

HISTSIZE=999999999
SAVEHIST=$HISTSIZE

STARSHIP_CONFIG=~/.config/starship/config.toml
PATH="{{ ansible_env.HOME }}/.local/bin:/usr/sbin:$PATH"

export LANGUAGE
export LANG

export RHEL_USERNAME
export RHEL_PASSWORD

export STARSHIP_CONFIG
export PATH
export FZF_DEFAULT_COMMAND
export FZF_DEFAULT_OPTS

alias vim="nvim"
alias ls="eza -hlg --icons --git"
alias cat="bat"

export HISTSIZE
export SAVEHIST

# Remove duplicates in history
setopt EXTENDED_HISTORY
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_FIND_NO_DUPS
setopt HIST_SAVE_NO_DUPS
setopt HIST_BEEP