{{ ansible_managed | comment }}

[Appearance]
ColorScheme=Breeze
Font=Hack Nerd Font,12,-1,5,50,0,0,0,0,0

[General]
Name=konsole
Parent=FALLBACK/

[Interaction Options]
AutoCopySelectedText=true
TrimTrailingSpacesInSelectedText=true

[Scrolling]
HistoryMode=2